numpy
pandas
matplotlib
xarray
seaborn
bs4
shapely
xhistogram
geopandas
ipykernel
netcdf4
scipy
scikit-learn
contextily
dataretrieval
statsmodels
openpyxl
dask[complete]
dask-jobqueue
pymc
aesara
arviz
lmoments3